<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestsClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logOutFromSession</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>search_for_item_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>log_in_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>send_item_to_shopping_cart</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
