<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:14:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsClass.send_item_to_shopping_cart(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestsClass@56620197]">send_item_to_shopping_cart</td> 
  <td>main@1793436274</td>   <td></td> </tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:15:12</td>   <td>16773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestsClass.tearDown()[pri:0, instance:TestsClass@56620197]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1793436274</td>   <td></td> </tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:15:12</td>   <td>16858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsClass.send_item_to_shopping_cart(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestsClass@56620197]">send_item_to_shopping_cart</td> 
  <td>main@1793436274</td>   <td></td> </tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:15:46</td>   <td>50999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestsClass.tearDown()[pri:0, instance:TestsClass@56620197]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1793436274</td>   <td></td> </tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:15:47</td>   <td>51804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsClass.send_item_to_shopping_cart(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestsClass@56620197]">send_item_to_shopping_cart</td> 
  <td>main@1793436274</td>   <td></td> </tr>
<tr bgcolor="ce6090">  <td>19/02/20 19:15:58</td>   <td>63241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestsClass.tearDown()[pri:0, instance:TestsClass@56620197]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1793436274</td>   <td></td> </tr>
</table>
